services:
  javalin-template:
    image: local/javalin-template:latest
    container_name: javalin-template
    hostname: javalin-template-local
    env_file:
      - env_files/local/service.env
      - env_files/local/otel.env
    ports:
      - "8080:8080"
    networks:
      - develop-network

networks:
  develop-network:
    external: true
    name: develop
